@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body{
padding: 0 ;
margin: 0 ;
overflow-x: hidden;
}

*{
  font-family: 'Roboto', sans-serif;
}
a{
text-decoration: none;
color:black;
font-size: 1.2rem;
text-align: start;
outline: 2px solid blue;
padding:0.5rem 1rem;  
border-radius: 1rem;
transition: background-color 300ms;
}

.homeContainer{
  
margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}
.homeContainer:hover a{
background-color: #f0f0f0;
}

#home{
  background-color: white;
  align-self: flex-start;
  width:auto;
}
/* Main info starts here*/

.mainContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:5px;
  height:100dvh;
  }
  
  .container{
    width:350px;
    border: 3px solid black;
    padding:1rem 3rem 1rem 2rem;
    border-radius: 5px;
  }
  
  .heading{
    text-align:center;
    margin:10px 0;
  }
  
  hr{
    width:50%;
  }
  
  
  
  .emailInput{
    width:100%;
    padding:0.5rem 0.5rem;
  }
  
  .infoContainer{
   display:flex;
   flex-direction:row;
   justify-content:space-between;
   margin:1rem 0px;
   gap:2rem;
   width:100%;
  }
  
  .names{
    width:100%;
    padding:0.5rem 0.5rem;
  }
  
  label{
    display:block;
  }
  
  input{
    display:block;
    margin:0.5rem 0px;
    padding:10px 0px;
    border-radius:5px;
    border:1px solid #9fa49e;
  }
  
  input:focus{
  outline:none;  
  }
  
  textarea{
    width:100%;
    min-height:90px;
    resize:none;
    padding:10px 0.5rem 0px 0.5rem;
    overflow:hidden;
    border-radius:5px;
    margin:10px 0px;
    boder:1px solid #9fa49e;
  }
  
  textarea:focus{
    outline:none;
  }
  
  div .textarea{
  margin-top:1rem;  
  }
  
  #warn{
  text-align:center;  
    margin:0;
  }
  
  button{
    width:106%;
    background:blue;
    border-radius:5px;
    border:none;
    color:white;
    cursor:pointer;
    font-size:1.1rem;
    padding:0.5rem 5rem;
    }
  
  .buttonContainer{
    margin:10px 0px;
    }



/* Main info ends here*/

/* Footer Section Starts here*/
  footer{
    background-color: #0002cb;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    color:aliceblue;
}

.designer{
    margin-left: 1rem;
    font-size:1.2rem;
    font-weight: 600;
}
.footerSubContainer{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}
.footerChild{
    margin:0px 1rem;
    padding:2rem 0px;
    font-size:1.2rem;
    font-weight: 600;
    cursor:pointer;
}
.footerChild a{
    text-decoration: none;
}