@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html, body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    overflow-x: none;
}

.navContainer,footer *{
    color:white;
}

/* NOTICE CONTAINER STYLING */

.noticeContainer{
    position: absolute;
    z-index: 3;
    background-color: rgba(250, 235, 215, 1);
    height:100vh;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    animation: fadeout 4s 0s 1 normal  cubic-bezier(1,-0.1,1,.15) forwards;
    
  }

  .noticeContainer>h1{
  width:100dvw;
  text-align:center;
  }
  
   @keyframes fadeout{
  from{ 
    opacity: 1;
    background: rgba(250, 235, 215, 1);
  }

  to{ 
  background:rgba(250, 235, 215, 0);
  position: absolute;
  left:-9999999999999px;
  z-index: 3;
  }

  }
/* NOTICE STYLING ENDS HERE*/



.topmostBar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left:1rem;
    align-items: center;
    background-color: #0002cb;
    color:white;
}

.topmostsocials{
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding:0.4rem;

}

.social-logos{
  width:1.5rem;
  background-color: white;
  height:1.5rem;
}

.logoImage{
width:80px;
height:80px;
position: absolute;
top:0.1rem;
}

.topSocialsChild{
padding:0px 1rem;
margin:0px 1rem;
color:white;
text-decoration: none;
}
.topSocialsChild a{
    color:white;
    text-decoration: none;
}

/*MENU BAR STARTS HERE*/

.menuContainer{
    height:2.3rem;
    width:3rem;
    display:none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right:5px;
    top:2.5rem;
    background-color: black;
  }
  
  
  .menuContainer .bar{
    height:4px;
    width:100%;
    background-color:white;
    border-radius:10px;
  }

/*MENU BAR ENDS HERE*/

/* NAV BAR STARTS HERE */

nav{ background-color:#0002cb ;
    color:rgb(199, 199, 199);
    margin-top:2.7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
    
}

.navChildCont{
    margin:0px 0rem;
    padding:0.6rem 0rem 0.6rem 0rem;
    transition: 0.2s linear;

}

.navChild{
    margin:0px 3rem;
    padding:0.6rem 2.5rem 0.6rem 2.5rem;
    transition: background-color 200ms linear;
    color:white;
    text-decoration: none;
}

.navChild:hover{
    background-color:rgb(41, 41, 41); 
}


/* MAIN SECTION STARTS HERE */

.mainSection{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:10rem;
    margin-bottom: 5rem;
    
}

.text-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin:3rem 0;
gap:1rem;
width:40%;
}

.text-container>h1{
font-size: 3rem;
text-align: center;
}

.text-container>h3{
    font-size: 2rem;
    
text-align: center;
}

.button{
    background-color: blue;
    padding:0.5rem 2rem;
    color:white;
    border-radius: 5px;
}

.image-container{
background-image: url("/photos/paint spill.jpg");
background-position: center;
background-repeat: no-repeat;  
display:grid;
}


.main-image{
    position: relative;
    margin: auto;
    transition: 500ms;
}
.main-image:hover{
    scale:1.05;
}

/* MAIN SECTION ENDS HERE */



footer{
    background-color: #0002cb;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}

.designer{
    margin-left: 1rem;
    font-size:1.2rem;
    font-weight: 600;
    color:white;
}
.footerSubContainer{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
}
.footerChild{
    margin:0px 1rem;
    padding:2rem 0px;
    font-size:1.2rem;
    font-weight: 600;
    cursor:pointer;
}
.footerChild a{
    text-decoration: none;
}













/* Start of media query section for mobile phones and below 600px*/
@media (max-width:600px ){


:root{
    --gap:1rem;
    --outline: 2px solid rgb(255, 248, 248);
}

.logoImage{
    width:3rem;
    height:3rem;
    margin-left: 1rem;
  }


  .topmostsocials{
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding:0.4rem;
    
    }

  .mainPageContainer{
    margin:0px;
  }

  
nav{
  display:none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.navContainer{
transition: 4s;
}


nav .navChildCont:nth-child(1),.navChildCont:nth-child(2) {
 margin:3px;
 border-bottom:2px solid white ;
}
nav .navChildCont a{
width: 100%;
}

.menuContainer{
  display:flex;
}


.menuContainer:active nav{
display:flex;
}

.navChild:hover{
background-color:#0002cb;
}

.navBar.active{
 display: flex;
}

.mainSection{
flex-direction: column;
gap:0rem;
}

.text-container{
    margin:5rem 0px;
    width:100%;
    
}

.image-container{
    width:100dvw;
    display: none;
}

.main-image{
height:5rem;
width:100%;
}

footer{
    flex-direction: column-reverse;
  }

.footerSubContainer{
    padding:0px;
    margin:0px;
    flex-direction: column;
  }

  
.designer{
  margin-left: 1rem;
  font-size:1.2rem;
  font-weight: 600;
  color:white;
}

.footerChild{
  margin:0px;
  padding:.5rem 0px;
  font-size:1.1rem;
  cursor:pointer;
}
.footerChild a{
  text-decoration: none;
}


}



