@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html, body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(208, 212, 216);
    overflow-x: hidden;
}

.navContainer,footer *{
    color:white;
}


.topmostBar{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left:1rem;
  align-items: center;
  background-color: #0002cb;
  color:white;
}

.topmostsocials{
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding:0.4rem;

}

.social-logos{
width:1.5rem;
background-color: white;
height:1.5rem;
}

.logoImage{
width:80px;
height:80px;
position: absolute;
top:0.1rem;
}

.topSocialsChild{
padding:0px 1rem;
margin:0px 1rem;
color:white;
text-decoration: none;
}
.topSocialsChild a{
  color:white;
  text-decoration: none;
}
/* NAV BAR STARTS HERE */
.navContainer{
  transition:.4s
}
nav{
  background-color:#0002cb ;
  color:rgb(199, 199, 199);
  margin-top:2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  
}

.navChildCont{
  margin:0px 0rem;
  padding:0.6rem 0rem 0.6rem 0rem;
  transition: 0.2s linear;

}

.navChild{
  margin:0px 3rem;
  padding:0.6rem 2.5rem 0.6rem 2.5rem;
  transition: background-color 200ms linear;
  color:white;
  text-decoration: none;
}

.navChild:hover{
  background-color:rgb(41, 41, 41); 
}



/* Main Section starts here*/


/* Menu style starts here*/
.menuContainer{
  height:2.5rem;
  width:3rem;
  display:none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  right:5px;
  top:2.6rem;
  background-color: black;
}


.menuContainer .bar{
  height:4px;
  width:100%;
  background-color:white;
  border-radius:10px;
}
/* Menu style ends here*/


/* Main Page Section */

.mainPageContainer{
  display: flex;
  flex-direction: column;
  margin:0px 1rem;
  
}

.projectHeader{
  font-size:3rem;
  text-align: center;
}

.projectsChildContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin:0px 3rem;
}


.projectChild{
  margin:1rem 0;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: rgb(60, 63, 63);
  color:white;
  padding:0px 0px;
  
}

.project-image{
margin-top: 1rem;
  width:50%;
  height:40%;
  border-radius: 5px;
  transition: scale 500ms;
}
.projectChild:hover .project-image{
  scale:1.05;
}

.projectNames{
  text-align: center;
  margin-top: 1rem;
}

.techStack{
margin:0px 3rem;
}

.techStack *{
font-weight: 700;
margin:0 5px;
}

.techStack *::after{
  content: " / ";
}

.upcomingProjectHeader{
text-align: center;
font-size: 2rem;
}

.projectParagraphs{
margin:0 3rem;
padding-bottom: 0px;
}

hr{
  width:90%;
  margin:0.5rem;
}
/* Footer Section */

footer{
  background-color: rgb(0, 2, 203);
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
}

.designer{
  margin-left: 1rem;
  font-size:1.2rem;
  font-weight: 600;
  color:white;
}
.footerSubContainer{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
}
.footerChild{
  margin:0px 1rem;
  padding:2rem 0px;
  font-size:1.2rem;
  font-weight: 600;
  cursor:pointer;
}
.footerChild a{
  text-decoration: none;
}







/* SMALL SCREEN SIZES */

@media (max-width:600px){

  .logoImage{
    width:5rem;
    height:5rem;
    margin-left: 1rem;
  }

  .mainPageContainer{
    margin:0px;
  }

  .projectsChildContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0rem;
  }
  .projectChild{
    margin:0rem 0;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(60, 63, 63);
    color:white;
    padding:0px 0px;
    height:100%;
  }

nav{
  display:none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  
}

.navContainer{
transition: 4s;
}


nav .navChildCont:nth-child(1),.navChildCont:nth-child(2) {
 margin:3px;
 border-bottom:2px solid white ;
}
nav .navChildCont a{

width: 100%;
}

.menuContainer{
  display:flex;
}


.menuContainer:active nav{
display:flex;
}

.navChild:hover{
background-color:#0002cb;
}

.navBar.active{
 display: flex;
}





.upcomingProjectHeader{
  text-align: center;
  font-size: 2rem;
  margin:2rem 0;
  }
.projectNames{

}
.projectParagraphs{
  position: absolute;
  left:-9999999999999999999px;
}

.projectsChildContainer{
  margin:0 2rem;
}

.projectChild{
margin:1rem auto;
padding: 1rem 0 0 0;
border-radius: 5px;
}

.techStack{
  margin:0px 3rem;
  }

  hr{
    width:90%;
    margin:1rem 0;
  }

  footer{
    flex-direction: column-reverse;
  }
  .footerSubContainer{
    padding:0px;
    margin:0px;
    flex-direction: column;
  }

  
.designer{
  margin-left: 1rem;
  font-size:1.2rem;
  font-weight: 600;
  color:white;
}

.footerChild{
  margin:0px;
  padding:.5rem 0px;
  font-size:1.1rem;
  cursor:pointer;
}
.footerChild a{
  text-decoration: none;
}


}

