/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html,
body {
  background-color: rgb(7, 0, 41);
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* to be removed later */

/* Main page container starts here here */
.total-page-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.top-half-container {
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: -o-linear-gradient(
      top,
      rgba(9, 12, 20, 0.9),
      rgba(3, 5, 12, 0.6),
      rgba(30, 39, 70, 0.6),
      rgba(9, 12, 20, 0.9)
    ),
    url("./photos/netflix.jpg");
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(9, 12, 20, 0.9)),
      color-stop(rgba(3, 5, 12, 0.6)),
      color-stop(rgba(30, 39, 70, 0.6)),
      to(rgba(9, 12, 20, 0.9))
    ),
    url("./photos/netflix.jpg");
  background: linear-gradient(
      to bottom,
      rgba(9, 12, 20, 0.9),
      rgba(3, 5, 12, 0.6),
      rgba(30, 39, 70, 0.6),
      rgba(9, 12, 20, 0.9)
    ),
    url("./photos/netflix.jpg");
}

/* header area starts here */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem;
}

.banner-container {
  margin-left: 0rem;
  width: 7rem;
  padding: 0.5rem;
  background-blend-mode: overlay;
  height: 2.5rem;
}

.netflix-banner {
  width: 100%;
}

.languageAndSignInButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
}

.signIn-button {
  background-color: red;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 600;
}

.language-container {
  padding: 0rem;
}
select {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 5px;
  padding: 0 0.25em;
}

/* text section container */
.text-section-container {
  margin: 0 1.5rem 3rem 1.5rem;
  padding: 0 1em;
  border-radius: 1rem;
}

.main-text {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
  padding-top: 2rem;
  text-align: center;
}
.watch-anywhere {
  text-align: center;
}

.email-and-submit-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.ES-containerTwo {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 2.2em;
}
.IL-innerContainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 35rem;
}
.email-and-login-container {
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5em 0em 1em 0em;
}

.ready-to-watch {
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 2rem;
  text-align: center;
}

.card-text-container {
  margin: 0 2rem;
}

.card-text-container h2 {
  font-size: 1.7rem;
}
.card-text-container h4 {
  font-size: 1rem;
  font-weight: 100;
}

.input-container {
  margin: 1rem 0px;
  width: 100%;
}

.email-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(14, 13, 13, 0.8);
  color: white;
  font-size: 1rem;
  padding: 1em 0.5em;
  border: 1px solid white;
  border-radius: 5px;
  width: 100%;
}
.email-input:focus {
  outline: none;
}
.get-started-button {
  background: -o-linear-gradient(left, rgb(214, 4, 4), red, rgb(207, 1, 1));
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgb(214, 4, 4)),
    color-stop(red),
    to(rgb(207, 1, 1))
  );
  background: linear-gradient(to right, rgb(214, 4, 4), red, rgb(207, 1, 1));
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  width: 100%;
}

.button-container {
  margin-bottom: 2rem;
  white-space: nowrap;
  overflow: hidden;
}
/* cards container styling */
.cards-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  border-radius: 5px;
  background-color: hwb(250 0% 79% / 0.89);
  margin: 0 2rem;
}

.card {
  margin: 1rem 0rem;
  padding-bottom: 1rem;
  min-height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px solid rgb(94, 93, 93);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.card-image {
  width: 100%;
}

hr {
  width: 90%;
  height: 0.1px;
}

/* Questtions and Footer Section */

.faq {
  margin-top: 3rem;
}

.faq-heading {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1rem 3rem 1rem 3rem;
  -webkit-box-sizing: 1px solid white;
  box-sizing: 1px solid white;
  margin-left: 2.5rem;
}

.list-item {
  list-style: none;
  background-color: rgb(24, 24, 77);
  margin: 0.5rem 0;
  font-size: 1.1rem;
  margin: 1rem 3rem 1rem 0rem;
  padding: 1.5rem 1rem;
  cursor: pointer;
}
.list-item:hover {
  background-color: rgb(31, 31, 94);
}

.extra-question {
  margin: 5rem 2.5rem 3rem 2.5rem;
  color: rgb(185, 175, 175);
}

.contact-number {
  color: rgb(185, 175, 175);
}

/* footer and links */
.footer-link {
  list-style: none;
  margin: 0.5em 0rem;
  text-decoration: underline;
  color: rgb(185, 175, 175);
  font-size: 0.9em;
}

.faq-links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
}

.footer-language-container {
  margin: 3rem 0 0 2.5rem;
}

#footer-select {
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.footer-Netflix-container {
  margin: 3rem 0;
}

.footer-Netflix {
  margin-left: 2.5rem;
}

/* MEDIUM DEVICES */
@media (min-width: 768px) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .card:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  /* cards container styling */

  .text-section-container {
    margin: 0 1.5rem 3rem 1.5rem;
    padding: 0 1em 1rem 1em;
    border-radius: 1rem;
  }

  .button-container {
    margin-bottom: 0rem;
  }

  .IL-innerContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 0.5em;
  }
  .input-container {
    width: 70%;
  }
  .button-container {
    margin-bottom: 0rem;
    width: 30%;
  }
  .main-faq-container {
    margin: 0 5rem;
  }
}

@media (min-width: 1024px) {
  .main-text {
    font-size: 3rem;
    margin-top: 3em;
  }
  .watch-anywhere {
    font-size: 2rem;
  }
  .faq-links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [4];
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1290px) {
  .card {
    margin: 1rem 5rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .faq-links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [4];
    grid-template-columns: repeat(4, 1fr);
  }

  .card-text-container h2 {
    font-size: 3rem;
  }
  .main-text {
    font-size: 3rem;
    margin-top: 4em;
    font-weight: 900;
  }
}
