@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,body{
  padding:0;
  margin:0;
  color:black;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  
}

a{
text-decoration: none;
color:blue;
}


.topmostBar{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left:1rem;
  align-items: center;
  background-color: #0002cb;
  color:white;
}

.topmostsocials{
display:flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding:0.4rem;

}

.social-logos{
width:1.5rem;
background-color: white;
height:1.5rem;
}

.logoImage{
width:80px;
height:80px;
position: absolute;
top:0.1rem;
}

.topSocialsChild{
padding:0px 1rem;
margin:0px 1rem;
color:white;
text-decoration: none;
}
.topSocialsChild a{
  color:white;
  text-decoration: none;
}

/*MENU CONTAINER AREA*/
.menuContainer{
  height:2.5rem;
  width:3rem;
  display:none;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  right:5px;
  top:2.6rem;
  background-color: black;
}


.menuContainer .bar{
  height:4px;
  width:100%;
  background-color:white;
  border-radius:10px;
}
/* Menu ends*/


/* NAV BAR STARTS HERE */
nav{
  background-color:#0002cb ;
  color:rgb(199, 199, 199);
  margin:2.5rem 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5rem;
  
}

.navChildCont{
  margin:0px 0rem;
  padding:0.6rem 0rem 0.6rem 0rem;
  transition: 0.2s linear;

}

.navChild{
  margin:0px 3rem;
  padding:0.6rem 2.5rem 0.6rem 2.5rem;
  transition: background-color 200ms linear;
  color:white;
  text-decoration: none;
}

.navChild:hover{
  background-color:rgb(41, 41, 41); 
}

/* ABOUT POST SECTION */

.about-container{
  margin:1rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: ;
  align-items: ;
}

.about-heading{
text-align: center;
font-size:4rem;
}



figcaption{
  text-align: center;
  margin:1rem 0px 10px 0px;
}

figure{
margin:2rem 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(196, 193, 191);
padding-top:1rem;
}

.firstparImage{
max-width:40rem;
max-height:25rem;
margin:auto;
}
.secondparImage{
  width:30rem;
  height:40rem;
  margin:auto;
}




/* FOOTER SECTION */
footer{
  background-color:#0002cb;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0px;
}

.subFooterContainer{
  margin-right:5rem;
  width:20%;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerLogo{
  width:1.5rem;
  height:1.5rem;
  position: relative;
  top:7px;
}

.designer{
  margin-left: 5rem;
}


.footerItem{
  padding:0px;
  
}













/* SMALL SCREEN SIZES */

@media (max-width:600px){


  
  .topmostsocials{
    align-self: flex-end;
  display:flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding:0.4rem;
  outline:2px solid white;
  }

  .topSocialsChild{
    padding:0px 0rem;
    margin:0px 1rem;
    color:white;
    text-decoration: none;
    }

  .logoImage{
    width:5rem;
    height:5rem;
    margin-left: .5rem;
  }


  .about-container{
    margin:1rem 0;
    padding:0 1rem;
    display: flex;
    flex-direction: column;
    
  }

nav{
  display:none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
  
}

.navContainer{
transition: 4s;
}


nav .navChildCont:nth-child(1),.navChildCont:nth-child(2) {
 margin:3px;
 border-bottom:2px solid white ;
}
nav .navChildCont a{
width: 100%;
}

.menuContainer{
  display:flex;
}


.menuContainer:active nav{
display:flex;
}

.navChild:hover{
background-color:#0002cb;
}

.navBar.active{
 display: flex;
}


figcaption{
  text-align: center;
  margin:1rem 0px 10px 0px;
}

figure{
margin:2rem 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(196, 193, 191);
padding-top:1rem;
}


.firstparImage{
  max-width:20rem;
  max-height:15rem;
  margin:auto;
  }
.secondparImage{
  max-width:20rem;
  max-height:15rem;
    margin:auto;
  }





footer{
  background-color:#0002cb;
  display:flex;
  flex-direction: column-reverse;
  align-items: ;
  padding:0px;
}

.subFooterContainer{
  display: flex;
  flex-direction: column-reverse;
  margin:auto;
}

.footerLogo{
  width:1.5rem;
  height:1.5rem;
}

.designer{
  margin-left: 0rem;
}


.footerItem{
  padding:0px;
  margin:auto;
}

.footerScocials{
  width: 50dvw;
}

}
